body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.form-container {
    max-width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.history-item-p{
    background-color: #343f4a;
    color: white;
    max-width: 40%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    margin-right: 15px;
    box-sizing: border-box;
}
button {
    background-color: #4d6372;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
.hor_container{
    display: flex;
}
#history-summary {
    background-color: #6f8da0;
    color: white;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
details{
    max-width: 60%;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #ccd9e1;}